.classpath
.project
.settings/org.eclipse.jdt.core.prefs
bin/com/privatefields/annotation/PrivateFieldsOnly.class
bin/com/privatefields/processor/PrivateFieldsOnlyProcessor.class
bin/Dede.class
